<div class="modal modal-md fade" id="confirmation-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Êtes-vous sûr de vouloir supprimer ce trick ?</h4>
                <p>Cette action ne peut pas être annulée.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btn-no" data-dismiss="modal">
                    Annuler
                </button>
                <button type="button" class="btn btn-danger" id="btn-yes" data-dismiss="modal">
                    <i class="fas fa-trash"></i> Supprimer le trick
                </button>
            </div>
        </div>
    </div>
</div>
