.cover {
	display: table;
	height: calc(100% - 56px);
	min-height: calc(100% - 56px);
	width: 100%;
	background: url("/img/homepage_cover.jpg") center;
	background-size: cover;
	position: absolute;
	top: 56px;
	z-index: 0;
}

.profile-content {
	position: relative;
	z-index: 1;
}

.profile {
	background-color: #f8f9fa;
}

.profile label {
	font-weight: 500;
}

.profile-edit {
	position: relative;
}

.profile-edit img {
	width: 256px;
	height: 256px;
}

.avatar-edit {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
}

.avatar-input {
	display: none;
}